* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    cursor: auto;
}

html,
body {}

a,
a:hover {
    text-decoration: none;
    transition: linear .25s;
}

button,
button:hover,
button:focus {
    border: none;
    outline: none;
}

/* ******************* */
header {
    padding: 15px 0;
}

.nav-item {
    margin-left: 25px;
}

.nav-link {
    color: #242f51;
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
}

.nav-link:hover {
    color: #3300ff;
}

.home-sec {
    background-image: url(../image/home_bg_bottom.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.banner {
    padding: ;
}

.banner-content {
    padding-top: 250px;
}

.banner-content button {
    background-color: #e2eaed;
    color: #242f51;
    border-radius: 30px;
    padding: 0;
    line-height: 1;
    padding-right: 50px;
    cursor: auto;
    margin-bottom: 30px;
}

.banner-content button i {
    color: #fff;
    background-color: #feaa25;
    height: 35px;
    padding: 10px;
    border-radius: 30px;
    margin-right: 10px;
}

.banner-content h1 {
    font-size: 60px;
    font-weight: 600;
    color: #242f51;
    line-height: 75px;

    margin: 0;
}

.banner-content p {
    font-size: 18px;
    color: #616368;
    font-weight: 400;
    line-height: 28px;
    margin: 20px 0;
}

.button-group {
    padding-top: 20px;
}

.button-group a {
    color: #ffffff;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    background-color: #2500f9;
    padding: 15px 25px;
    border-radius: 30px;
    display: inline-block;
}

.button-group a:last-child {
    background-color: transparent;
    color: #2500f9;
}

.banner-img {
    text-align: right;
}

.banner-img img {
    /*! width: 75%; */
}


.companies-sec {
    padding: 120px 0;
}

.companies-sec h2 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #242f51;
    text-align: center;
}

.companies-img {
    position: relative;
    height: 200px;
}

.companies-img img {
    width: 150px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features-sec {
    padding-bottom: 120px;
}

.features-img {
    text-align: center;
}

.features-img img {}

.sec-title {margin-bottom: 70px;}

.sec-title h2 {
    font-size: 36px;
    font-weight: 600;
    color: #242f51;
    line-height: 44px;

    margin-bottom: 30px;
}

.sec-title p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #616368;
    margin: 0;
}

.featured-group {}

.featured-item {display: flex;align-items: flex-start;letter-spacing: .25px;margin-bottom: 50px;max-width: 400px;}

.featured-item img {margin-right: 25px;width: 90px;padding: 25px 0;}

.featured-item .text {}

.featured-item .text h3 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;


    color: #242f51;
}

.featured-item .text p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;

    margin: 0;
    color: #616368;
}

.quote-content {padding-top: 100px;padding-bottom: 130px;display: table;width: 100%;}

.quote-content h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #242f51;

    margin: 0;
    display: table-cell;
    width: 50%;
    padding-right: 50px;
    
}

.quote-content p {
    color: #616368;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
border-left: 1px solid #4b4a483d;
    margin: 0;
    padding-left: 50px;
    vertical-align: middle;
    display: table-cell;
}

.featured-item.featured-item-grid {display: block;max-width: 270px;}

.featured-item.featured-item-grid img {}

.coding-sec {padding-bottom: 40px;border-bottom: 1px solid #4b4a483d;}

.coding-img {margin-bottom: 60px;}

.coding-img img {}

.btn-theme {}

.app-features-sec {padding: 120px 0;}

.ultimate-features-sec {}

.btn-theme {
    color: #ffffff;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    background-color: #2500f9;
    padding: 15px 25px !important;
    border-radius: 30px;
    display: inline-block;
}

.btn-theme:hover {
    color: #ffffff;
    background-color: #3300ff;
}

.features-img {}

.features-img img {}

.pricing-sec {}

.pricing-plan-area {}

.pricing-plan-area a {}

.price-plan {}

.pricing-card {}

.pricing-card-head {}

.pricing-card-head h2 {
    color: #242f51;
    font-size: 60px;
    line-height: 58px;
    font-weight: 600;

}

.pricing-card-head h2 small {
    color: #999ca5;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.pricing-card-head h3 {
    color: #242f51;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;

}

.pricing-card-head p {
    color: #999ca5;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;

}

.pricing-card-body {}

.pricing-card-body ul {}

.pricing-card-body ul li {
    color: #999ca5;
    font-size: 16px;
    line-height: 48px;
    font-weight: 400;

}

.pricing-card-footer {}

.pricing-card-footer a {}

.pricing-card-footer a {}

.pricing-card-footer.btn-theme {}

.feedback-sec {}

.feedback-img {}

.feedback-img img {}

.feedback-content {}

.feedback-content ul {}

.feedback-content ul li {}

.feedback-content h3 {}

.feedback-content p {}

.client-profile {}

.client-profile img {}

.title {}

.title h4 {}

.title h5 {}

.faq-sec {}

.uk-accordion-content {}

.uk-accordion-content p {}

.uk-accordion-content p {}

.app-sec {
    background-image: url(../image/footer\ bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    border-top: 1px solid #e5e6e5;
    padding: 100px 0;
}

.app-content {}

.app-content h2 {
    color: #242f51;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    margin-bottom: 20px;
}

.app-content p {
    color: #616368;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;

    margin-top: 0;
    margin-bottom: 50px;
}

.app-content ul {
    list-style: none;

    padding: 0;
    margin: 0;
}

.app-content ul li {

    display: inline-flex;
    width: 180px;
}

.app-content ul li a {}

.app-content ul li a img {}

.footer-sec {
    background-color: #09142e;
    padding-top: 100px;
    padding-bottom: 120px;
}

.footer-content {
    text-align: center;
}

.footer-content img {
    width: 120px;

}

.footer-content ul {

    list-style: none;
    text-align: center;

}

.footer-menu {
    margin-bottom: 56px;
}

.footer-menu li {
    display: inline-block;
    margin: 0 12px;

}

.footer-menu li a {
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    opacity: .8;
}

.footer-menu li a:hover {
    opacity: 1;
}

.social-menu {
    margin-bottom: 44px;
}

.social-menu li {
    display: inline-block;
    margin: 0 10px;
}

.social-menu li a {
    color: #273043;
    font-size: 22px;
}

.social-menu li a:hover {
    color: #ffffff;
}

.copyright {}

.copyright p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin: 0;
}